body {
    margin: 1;
    font-family: Cursed Timer ULiL;
}

.container {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: #3c439b;
}

#current-score-home, #current-score-guest {
    font-size: 50px;
    background-color: black;
    color: #F94F6D;
    padding: 10px 0;
    margin: 10px 0;
}

.home-score-container, .guest-score-container  {
    text-align: center;
}


.increment {
    display: flex;
    justify-content: space-around;
}

.increment-el-1, .increment-el-2, .increment-el-3, #resetBtn  {
    border: 1px solid #9AABD8;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    background-color: transparent;
    color: #9AABD8;
}

.increment-el-1:hover,
.increment-el-2:hover,
.increment-el-3:hover,
#resetBtn:hover
                {
    transform: scale(1.1);
}




